body {
	margin-top: 30px;
	margin-left: 50px;
}

#controls {
	margin-bottom: 10px;
}

button {
	display: inline;
	margin-right: 10px;
	border: black thin solid;
}

#black {
	background-color: black;
	color: black;
}

#red {
	background-color: red;
	color: red;
}

#blue {
	background-color: blue;
	color: blue;
}

#green {
	background-color: green;
	color: green;
}

.row {
	height: 5px;
}

.square {
	width: 5px;
	height: 5px;
	margin: 0;
	background-color: ghostwhite;
	display: inline-block;
	position: relative;
}


